<tr class="catalog-list__item catalog-item">
  <th class="catalog-item__title" scope="row">
    <a class="catalog-item__link" href="#">
      {{ catalogItem.title }}
      <br>
      {{ catalogItem.weight}}&nbsp;г
    </a>
  </th>
  <td class="catalog-item__image">
    <img src="img/catalog/{{ catalogItem.image }}.png" width="68" height="78" alt="">
  </td>
  <td class="catalog-item__weight">{{ catalogItem.weight }} г.</td>
  <td class="catalog-item__tasty">{{ catalogItem.tasty }}</td>
  <td class="catalog-item__price">{{ catalogItem.price }} Р.</td>
  <td class="catalog-item__order">
    <a class="button button--size_wide" href="#">Заказать</a>
  </td>
</tr>
